/ffmpeg_read_test
/ffmpeg_read_test.dSYM/
/ofx_entrypoints_test
/ofx_entrypoints_test.dSYM/
/ofx_actions_test
/ofx_actions_test.dSYM/
/ofx_render_test
/ofx_render_test.dSYM/
/.render_out.mov
/ofxTestLog.txt
